{% extends "base.html" %}

{% block title %}
    <title>home_page</title>
{% endblock  %}
{% block  content %}
<div>
    <H1>หน้าแรกของเว็ปไซด์</H1>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">นามสกุล</th>
            <th scope="col">อายุ</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
         {% for person in all_person %}
         <tr>
           <th scope="row">{{person.id}}</th>
            <th>{{person.name}}</th>
            <th>{{person.lastname}}</th>
            <th>{{person.age}}</th>
        </tr>    
        {% endfor %}
        </tbody>
      </table>

{% endblock  %}